{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}

{% block content %}
<div class="container col-xxl-8 px-2">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        
        <div class="col-10 col-sm-8 col-lg-6">
            <figure class="figure">
            <img src="img/DigEds_Cat_logo_transp.png" class="d-block mx-lg-auto img-fluid"
                alt="Title Image" width="700" height="500" loading="lazy">
            </figure>
        </div>
        <div class="col-lg-6">
            <h1 class="visually-hidden">
                {{ project_data.project_title }}
            </h1>
            <p class="lead text-center">Gathering digital editions to publish, survey, and identify best practice in the field of digital scholarly editing. 
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="search.html" type="button"
                    class="btn btn-primary btn-lg px-4 me-md-2">Search
                </a>
                <a href="editions.html" type="button"
                    class="btn btn-outline-secondary btn-lg px-4">Browse</a>
                </div>
        </div>
    </div>
</div>

{% endblock content %}