{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}

{% block content %}
<nav class="ps-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
    </ol>
</nav>
<div class="container col-xxl-8 px-2 pt-3">
    <div class="row flex-lg-row align-items-center  py-5">
        
        <div class="col-sm-8 col-lg-6">
            <figure class="figure">
            <img src="img/DigEds_Cat_logo_transp.png" class="d-block mx-lg-auto img-fluid"
                alt="Title Image" width="700" height="500" loading="lazy">
            </figure>
        </div>
        <div class="col-lg-6">
            <h1 class="visually-hidden">
                {{ project_data.project_title }}
            </h1>
            <p class="fs-2 fw-light text-center">Gathering digital editions to publish, survey, and identify best practice in the field of digital scholarly editing. 
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="documentation.html" type="button"
                    class="btn btn-primary btn-lg px-4 me-md-2">Read more
                </a>
                <a href="editions.html" type="button"
                    class="btn btn-outline-secondary btn-lg px-4">Browse</a>
                </div>
        </div>
    </div>
    <div class="row d-flex align-items-stretch">

        <div class="col-lg p-2">
            <div class="card h-100">
                <div class="card-body text-center">
                    <p><strong><em>Why?</em></strong> Since 2012 the <em>Catalogue of
                            Digital Editions</em> has been gathering digital editions and texts in an attempt to
                        survey and
                        identify best practice in the field of digital scholarly editing. Analogous initiatives
                        exist but
                        don't provide the granular analysis of features necessary to better understand the rationale
                        and
                        methodology behind the creation of a digital edition. This <em>Catalogue</em> provides an
                        accessible
                        record of standards and building technologies used, and thus an insight into past and
                        present
                        projects.</p>
                </div>
            </div>
        </div>

        <div class="col-lg p-2">
            <div class="card h-100">
                <div class="card-body text-center">
                    <p><strong><em>How?</em></strong> Development on this web application
                        began in 2016 and aims at delivering the <em>Catalogue</em> data in an interactive and
                        user-friendly
                        manner, allowing users to browse, search, filter and order projects around their research
                        interests.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg p-2">
            <div class="card h-100">
                <div class="card-body text-center">
                    <p><strong><em>What?</em></strong> The <em>Catalogue</em> continuously
                        adds digital editions and always seeks external contributions. For instructions on how to
                        submit a
                        digital edition to the <em>Catalogue</em>, please visit the <a 
                            href="documentation.html">Documentation</a> page of this site.<br /><br />
                        Projects added will be exposed to over 300 German libraries thanks to the
                        <em>Catalogue</em>'s
                        integration into the <a href="https://dbis.uni-regensburg.de/UBR/resources/102043"
                             title="Opens in new tab">German Library Network (DBIS)</a>.</p>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock content %}