<footer class="footer mt-auto">
    <div>
        <div class="row text-center">
            <div class="col-lg-6 p-1">
                <a href="https://www.oeaw.ac.at/acdh/" class="navlink">
                    <img src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/acdh-ch-logo-with-text-grayscale-use-over-black.png"
                        class="footer-logo" alt="ACDHCH"
                        title="Austrian Centre for Digital Humanities and Cultural Heritage" />
                </a>
            </div>

            <div class="col-lg-6 p-1">
                <a href="http://www.ucl.ac.uk/dh/" class="navlink">
                    <img src="img/ucldh.png" class="footer-logo" alt="UCLDH"
                        title="UCL Centre for Digital Humanities" />
                </a>
            </div>
        </div>
        <hr>

        <div class="row text-center">
            <div class="col-sm-4">
                <a href="{{ project_data.github }}">
                    <img src="img/GitHub-Mark-Light-64px.png" class="footer-icon" alt="GitHub Icon"
                        title="Link to Code Repo on Github" />
                </a>
            </div>

            <div class="col-sm-4">
                <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">
                    <img src="img/by-sa.png" class="footer-icon" alt="CC-BY-SA Icon" title="CC-BY-SA" />
                </a>
            </div>


            <div class="col-sm-4">
                <a href="https://www.zotero.org/groups/2199751/digital_scholarly_editions" class="extra-logo navlink">
                    <img src="img/zotero-logo-white.png" class="footer-icon" alt="Zotero"
                        title="Link to Zotero-Library" />
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{% block scriptbody %}
{% endblock %}
<script src="js/scroll-to-top.js"></script>