h1 {
    padding-top: 1em;
    text-align: center;
}

main {
    padding-bottom: 2em;
}

.footer {
    padding: 2em;
    background-color: #333;
    color: #ffffff;
    font-size: 13px;
}

.blockquote {
    border-left-style: solid;
    border-left-width: 1px;
    color: #6f6f6f;
    padding-left: 2em;
    padding-bottom: 2em
}

.blockquote-footer {
    padding-top: 1em;
    padding-left: 4em;
}

.card {
    margin: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: white;
    background-color: black;
    border-color: black;
}

.footer-icon {
    max-width: 180px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-logo {
    max-width: 350px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.detail_view_map {
    height: 600px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}