:root {
    --bs-link-color: #0046a6;
    --bs-link-hover-color: #003380;
}

a {
    color: var(--bs-link-color);
    text-decoration: dotted underline;
}

a:hover {
    color: var(--bs-link-hover-color);
}

main {
    padding-bottom: 2em;
}


.blockquote {
    border-left-style: solid;
    border-left-width: 1px;
    color: #6f6f6f;
    padding-left: 2em;
    padding-bottom: 2em
}

.card {
    margin: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: white;
    background-color: black;
    border-color: black;
}

.detail_view_map {
    height: 600px;
    width: 620px;
}

.map {
    width: 1000px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}
.leaflet-popup {
    overflow: scroll;
}

dd {
    padding-left: 1rem;
}