{% extends "templates/partials/base.j2" %}
{% block title %}{{ document_data.edition_name }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}
{% block scriptHeader %}
{% include 'templates/partials/leaflet.j2' %}
{% endblock %}


{% block content %}
<nav class="ps-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="editions.html">Browse Editions</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ document_data.edition_name }}</li>
        </ol>
    </nav>
<div class="container">
    
    <div class="row">
        <div class="col-sm-3 p-1 text-start">
            {% if document_data.prev %}
            <span class="fs-1">
                <a href="{{ document_data.prev }}">
                    <i class="bi bi-chevron-left" aria-hidden="true"></i>
                    <span class="visually-hidden">Previous entry</span>
                </a>
            </span>
            {% endif %}
        </div>
        <div class="col-sm-6 p-1 text-center">
            <h1>{{ document_data.edition_name }}</h1>
            <button id="clickme" class="btn btn-outline-secondary mb-2">
                Info
            </button>
        </div>
        <div class="col-sm-3 p-1 text-end">
            {% if document_data.next %}
            <span class="fs-1">
                <a href="{{ document_data.next }}">
                    <i class="bi bi-chevron-right" aria-hidden="true"></i>
                    <span class="visually-hidden">Next entry</span>
                </a>
            </span>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md">
                <dl>
                    {% for x in document_data.fields %}
                        <dt>{{ x.verbose_name }}
                            <div class="readmore fw-normal">{{ x.help_text }}</div>
                        </dt>
                        {% if x.name == 'institution_s' %}
                        <dd>
                            {% for y in x.value %}
                                <dd>
                                    <a href="{{ y.institution_website }}">{{ y.institution_name }}</a></dd>
                            {% endfor %}
                        </dd>
                        {% else %}
                            {% if x.type == 'string[]' %}
                                {% for y in x.value %}
                                <dd>{{ y }}</dd>
                                {% endfor %}
                            {% else %}
                            <dd>{% if 'http' in x.value %}
                            <a href="{{ x.value }}">{{ x.value }}</a>
                            {% else %}
                            {{ x.value }}
                            {% endif %}
                            </dd>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </dl>
            </div>
            <div class="col-md">
                <div id="map" class="detail_view_map"/>
            </div>
        </div>
        <div class="pt-2">
            <p class="text-center"><small>To cite this Catalogue entry, you can adapt the following</small></p>
            <blockquote class="blockquote">
                <p>Catalogue of Digital Editions: <em>{{ document_data.edition_name }}</em>, <a href="https://dig-ed-cat.acdh.oeaw.ac.at/{{ document_data.resolver }}">https://dig-ed-cat.acdh.oeaw.ac.at/{{ document_data.resolver }}</a></p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock content %}
{% block scriptbody %}
{% if document_data.institution_s %}
<script>
    const map = L.map('map').setView([0, 0], 3);
	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
    var markers = L.markerClusterGroup();
    {% for x in document_data.institution_s %}
    var label = "{{ x.institution_name }}";
    var lat = {{ x.location_lat }};
    var lng = {{ x.location_lng }};
    var resolver = "{{ x.resolver }}";
	markers.addLayer(L.marker([lat, lng], {alt: label}).bindPopup(`<a href="${resolver}">${label}</a>`));
    {% endfor %}

    map.addLayer(markers);
    
    {% if document_data.institution_s|length > 1 %}
    map.fitBounds(markers.getBounds())
    {% elif document_data.institution_s|length == 1 %}
    {% with institution=document_data.institution_s|first %}
    map.setView([{{ institution.location_lat }}, {{institution.location_lng}}], 7)
    {% endwith %}
    {% else %}
    {% endif%}
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Hide all <td> elements with class 'readmore'
        var readmoreElements = document.querySelectorAll('.readmore');
        readmoreElements.forEach(function (element) {
            element.style.display = 'none';
        });
    });

    document.getElementById('clickme').addEventListener('click', function () {
        var readmoreElements = document.querySelectorAll('.readmore');
        readmoreElements.forEach(function (element) {
            if (element.style.display === 'none') {
                element.style.display = 'block'; // or 'block' depending on your layout
            } else {
                element.style.display = 'none';
            }
        });
    });
</script>
{% endif %}
{% endblock scriptbody%}