{% extends "templates/partials/base.j2" %}
{% block title %}{{ document_data.edition_name }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}
{% block scriptHeader %}
{% include 'templates/partials/leaflet.j2' %}
{% endblock %}


{% block content %}
<nav class="ps-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="editions.html">Browse Editions</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ document_data.edition_name }}</li>
        </ol>
    </nav>
<div class="container">
    
    <div class="row">
        <div class="col-sm-3 p1">
            {% if document_data.prev %}
            <h1 class="text-start"><a href="{{ document_data.prev }}"><i class="bi bi-chevron-left"></i></a></h1>
            {% endif %}
        </div>
        <div class="col-sm-6 p1 text-center">
            <h1>{{ document_data.edition_name }}</h1>
            <i id="clickme" class="bi bi-info-square"
                title="click to show descriptions of the individual categories"></i>
        </div>
        <div class="col-sm-3 p1">
            {% if document_data.next %}
            <h1 class="text-end"><a href="{{ document_data.next }}"><i class="bi bi-chevron-right"></i></a></h1>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md">
                <table class="table">
                    <tr>
                        <th scope="row">URL</th>
                        <td class="readmore">The project URL.</td>
                        <td><a href="{{ document_data.url}}">{{ document_data.url}}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Historical Period</th>
                        <td class="readmore">Historical period to which the source document/text belongs.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.historical_period %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Scholarly</th>
                        <td class="readmore">Sahle - An edition must have critical components - a pure facsimile is not
                            an edition, a digital library is not an edition.</td>
                        <td>
                            {{ document_data.scholarly}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Digital</th>
                        <td class="readmore">Sahle - A digital edition cannot be converted to a printed edition without
                            substantial loss of content or functionality - vice versa: a retrodigitized printed edition
                            is not a Scholarly Digital Edition (but it may evolve into a Scholarly Digital Edition
                            through new content or functionalities).</td>
                        <td>
                            {{ document_data.digital}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Writing support</th>
                        <td class="readmore">The nature or materiality of the source text (manuscript, letter, notebook,
                            etc.).</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.writing_support %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td class="readmore">The language(s) of the source text (three-letter ISO codes used).</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.language %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Begin date</th>
                        <td class="readmore">Year the project started.</td>
                        <td>
                            {{ document_data.begin_date }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">End date</th>
                        <td class="readmore">Year the project ended..</td>
                        <td>
                            {{ document_data.end_date }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Manager</th>
                        <td class="readmore">Name of project manager(s).</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.manager_or_editor %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Institution</th>
                        <td class="readmore">Name(s) of institution(s) involved in the project.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.institution_s %}
                                <li><a href="{{ x.resolver }}">{{ x.institution_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Repository of Source Material(s)</th>
                        <td class="readmore">The institution(s) that house the source text(s).</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.repository_of_source_material_s %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Audience</th>
                        <td class="readmore">The project's target audience.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.audience %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Philological statement</th>
                        <td class="readmore">
                            <ul class="list-unstyled">
                                <li><strong>no</strong> No information on the editorial methods and practices nor on the
                                    source (digital or printed) of the text.</li>
                                <li>
                                    <strong>partly</strong> Some information about the source, and of the author, date
                                    and accuracy of the digital edition.
                                </li>
                                <li>
                                    <strong>yes</strong> information on the source of the text, as well as on the
                                    author, date and
                                    accuracy of the digital edition; (Digital Humanities) standards implemented,
                                    including
                                    modelling, markup language, data structure and software.
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ document_data.philological_statement }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Account of textual variance</th>
                        <td class="readmore">
                            <ul class="list-unstyled">
                                <li><strong>no</strong> No account of textual variance is given. The digital edition is
                                    a reproduction of a given print edition without any account of variants.</li>
                                <li>
                                    <strong>partly</strong> The digital edition is a reproduction of a given print
                                    scholarly edition and reproduces the selected textual variants extant in the
                                    apparatus criticus of that edition, or: the edition does not follow a digital
                                    paradigm, in that the variants are not automatically computable the way they are
                                    encoded.
                                </li>
                                <li>
                                    <strong>yes</strong> This edition is “based on full-text transcription of original
                                    texts into electronic form” (vd. Proposition 2 in <a
                                        href="http://www.tei-c.org/About/Archive_new/ETE/Preview/robinson.xml">this
                                        article by P. Robinson</a>).
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ document_data.account_of_textual_variance }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Value of witnesses</th>
                        <td class="readmore">
                            <ul class="list-unstyled">
                                <li><strong>N/A</strong> Not applicable, as no information about the source of the text
                                    is given, though it is easily assumable that the source is another digital edition
                                    or a printed edition (possibly even a scholarly edition).</li>
                                <li><strong>no</strong>The only witness modelled digitally is a printed non-scholarly
                                    edition, used as a source for the digital edition.</li>
                                <li>
                                    <strong>partly</strong> Same as above, but the witness/source is a scholarly
                                    edition.
                                </li>
                                <li>
                                    <strong>yes</strong> The witnesses are traditional philological primary sources
                                    (including manuscripts, inscriptions or papyri).
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ document_data.value_of_witnesses }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">XML-TEI transcription</th>
                        <td class="readmore">
                            The source text is encoded in XML-TEI.
                        </td>
                        <td>
                            {{ document_data.xml_tei_transcription }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">XML(-TEI) transcription to download</th>
                        <td class="readmore">
                            The XML(-TEI) encoded text is available for download.
                        </td>
                        <td>
                            {{ document_data.xml_tei_available_to_download }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Images</th>
                        <td class="readmore">
                            The digital edition comes with images.
                        </td>
                        <td>
                            {{ document_data.images }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Zoom images</th>
                        <td class="readmore">
                            The user can zoom in or out of images within the edition.
                        </td>
                        <td>
                            {{ document_data.zoom_images }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Image manipulation</th>
                        <td class="readmore">
                            The user can manipulate these images in some way within the edition (brightness, rotation,
                            etc.).
                        </td>
                        <td>
                            {{ document_data.image_manipulation_brightness_rotation_etc }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Text-image linking</th>
                        <td class="readmore">
                            The transcription and the image are linked so that clicking on a word in the image brings up
                            the corresponding textual token and viceversa
                        </td>
                        <td>
                            {{ document_data.text_image_linking }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Website language</th>
                        <td class="readmore">The language in which the project website is written. <a
                                href="https://www.loc.gov/standards/iso639-2/php/code_list.php">Three-letter ISO
                                codes</a> should be used.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.website_language %}
                                <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Glossary</th>
                        <td class="readmore">The digital edition provides a glossary.</td>
                        <td>
                            {{ document_data.glossary }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Indices</th>
                        <td class="readmore"> The digital edition provides one or multiple indices.</td>
                        <td>
                            {{ document_data.indices }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">String matching search</th>
                        <td class="readmore">The digital edition provides a string matching search functonality.</td>
                        <td>
                            {{ document_data.string_matching }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Advanced search</th>
                        <td class="readmore">The digital edition provides an advanced search functionality.</td>
                        <td>
                            {{ document_data.advanced_search }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Creative Commons License</th>
                        <td class="readmore">The project is protected by a Creative Commons License.</td>
                        <td>
                            {{ document_data.creative_commons_license }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Open Source/Open Access</th>
                        <td class="readmore">
                            <ul class="list-unstyled">
                                <li><strong>no</strong> Proprietary, all material is copyrighted. The ‘source’ is closed
                                    and not reusable by other research projects. To access the material, users must pay
                                    a subscription.</li>
                                <li><strong>partly</strong> Same as above, but the subscription is free of charge.</li>
                                <li><strong>yes</strong> Open Access. The texts may be accessed through specific software,
                                    but the source is not accessible.</li>
                                <li><strong>Open Access and Open Sourc (some data)</strong> Open Access and Open Source.
                                    Part of the data underlying the digital edition (e.g. text but not images) is freely
                                    available for access and reuse.</li>
                                <li><strong>Open Access and Open Source (all data)</strong> Open Access and Open Source.
                                    All data underlying the digital edition is freely available for access, study,
                                    redistribution and improvement (reuse).</li>
                            </ul>
                        </td>
                        <td>
                            {{ document_data.open_source_open_access }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">OCR or keyed</th>
                        <td class="readmore">The source text was digitised with Optical Character Recognition (OCR) software or manually keyed in.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.ocr_or_keyed %}
                                    <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Print-friendly view</th>
                        <td class="readmore">The project provides a print-friendly view of the text (e.g. PDF).</td>
                        <td>
                            {{ document_data.print_friendly_view }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Budget</th>
                        <td class="readmore">How much the project cost, roughly.</td>
                        <td>
                            {{ document_data.budget_rough }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Infrastructure</th>
                        <td class="readmore">The technologies used to build the digital edition.</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for x in document_data.infrastructure %}
                                    <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">API</th>
                        <td class="readmore">The project comes with an API (Application Programming Interface).</td>
                        <td>
                            {{ document_data.api }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">RIDE review</th>
                        <td class="readmore">The project has been reviewed in the <a href="https://ride.i-d-e.de/">RIDE Journal</a>.</td>
                        <td>
                            {% if 'http' in document_data.ride_review %}
                            <a href="{{ document_data.ride_review }}">{{ document_data.ride_review }}</a>
                            {% else %}
                            no
                            {% endif %} 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sahle Catalog</th>
                        <td class="readmore">Indicates whether a digital edition is also present in <a href="http://www.digitale-edition.de/">Patrick Sahle's Catalog of Digital Scholarly Editions</a>.</td>
                        <td>
                            {% if 'yes' in document_data.sahle_catalog %}
                            <a href="http://www.digitale-edition.de/">{{ document_data.sahle_catalog }}</a>
                            {% else %}
                            no
                            {% endif %} 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">handle</th>
                        <td class="readmore"> handle-id</td>
                        <td>
                           <a href="http://hdl.handle.net/{{ document_data.handle_pid }}">{{ document_data.handle_pid }}</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md">
                <div id="map" class="detail_view_map"/>
            </div>
        </div>
        <div class="pt-2">
            <p class="text-center"><small>To cite this Catalogue entry, you can adapt the following</small></p>
            <blockquote class="blockquote">
                <p>Catalogue of Digital Editions: <em>{{ document_data.edition_name }}</em>, DOI: <a href="http://hdl.handle.net/{{ document_data.handle_pid }}">http://hdl.handle.net/{{ document_data.handle_pid }}</a></p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock content %}
{% block scriptbody %}
{% if document_data.institution_s %}
<script>
    const map = L.map('map').setView([0, 0], 3);
	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
    var markers = L.markerClusterGroup();
    {% for x in document_data.institution_s %}
    var label = "{{ x.institution_name }}";
    var lat = {{ x.location_lat }};
    var lng = {{ x.location_lng }};
    var resolver = "{{ x.resolver }}";
	markers.addLayer(L.marker([lat, lng], {alt: label}).bindPopup(`<a href="${resolver}">${label}</a>`));
    {% endfor %}

    map.addLayer(markers);
    
    {% if document_data.institution_s|length > 1 %}
    map.fitBounds(markers.getBounds())
    {% elif document_data.institution_s|length == 1 %}
    {% with institution=document_data.institution_s|first %}
    map.setView([{{ institution.location_lat }}, {{institution.location_lng}}], 7)
    {% endwith %}
    {% else %}
    {% endif%}
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Hide all <td> elements with class 'readmore'
        var readmoreElements = document.querySelectorAll('td.readmore');
        readmoreElements.forEach(function (element) {
            element.style.display = 'none';
        });
    });

    document.getElementById('clickme').addEventListener('click', function () {
        var readmoreElements = document.querySelectorAll('td.readmore');
        readmoreElements.forEach(function (element) {
            if (element.style.display === 'none') {
                element.style.display = 'table-cell'; // or 'block' depending on your layout
            } else {
                element.style.display = 'none';
            }
        });
    });
</script>
{% endif %}
{% endblock scriptbody%}